* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.yes, .no {
  width: 100px;
  height: 75px;
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
  color: wheat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  color: red;
  font-size: 24px;
}

.section {
  width: 100px;
}
.section h2 {
  color: red;
}
.section h2 span {
  color: blueviolet;
}

.menu {
  display: flex;
}
.menu__list {
  list-style: none;
}
.menu__item {
  color: yellow;
}
.menu__link--active:active {
  border-bottom: 1px solid black;
  color: aqua;
}

.btn, .btn2 {
  width: 100px;
  height: 75px;
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
  color: wheat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn2 {
  background-color: blanchedalmond;
  color: darkslategray;
}

.no {
  border: 2px dotted tomato;
}