* {
  margin: 0;
  padding: 0;
}

header {
  background-color: yellow;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-size: 36px;
}
a {
  text-decoration: none;
}
.hamb {
  width: 40px;
  height: 40px;
}
.open {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
}
@media screen and (max-width: 768px) {
  ul {
    font-size: 24px;
    gap: 40px;
  }
}

@media screen and (max-width: 320px) {
  header {
    background-color: pink;
  }
  ul {
    display: none;
  }
}
@media print {
  a {
    font-size: 100px;
  }
}
