* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* .box {
  height: 200px;
  width: 200px;
  outline: 1px solid black;
  overflow: hidden;

  position: relative;
  overflow: visible;

  overflow: auto;
  background-color: aqua;
  transition: opacity 500ms linear;
  transition-duration: 1000ms;
  transition-delay: 500ms;
  opacity: 0;
} */
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 3000ms ease;
  transform: translateY(-300%);
}
.box:hover .overlay {
  transform: translateX(0);
} */
/* .box:hover {
  background-color: red;
  opacity: 1;
} */

.box3 {
  width: 200px;
  height: 200px;
  outline: 1px solid black;
  background: beige;
  /* animation: changebackround 500ms linear infinite running; */
  animation: rotateY 2s linear infinite running;
}

.box3:hover {
  animation: rotateY 2s linear infinite paused;

  /* animation-name: changebackround;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal; */
  /* animation: changebackround 500ms linear infinite paused; */
}
/* @keyframes changebackround {
  0% {
    background-color: aqua;
    transform: skew(0);
  }
  40% {
    background-color: aquamarine;
    transform: skew(10deg);
  }

  80% {
    background-color: blueviolet;
  }
  100% {
    background-color: rgb(0, 21, 255);
    transform: skew(0);
  }
} */
@keyframes rotateY {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
.container {
  position: relative;
  width: 600px;
  height: 400px;
  outline: 1px solid black;
  background-color: greenyellow;
}
.box5 {
  position: absolute;
  width: 150px;
  height: 150px;
  outline: 1px solid black;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
